
<h1>Create New User</h1>

<a [routerLink]="['/users']" class="btn btn-primary" > <i class="glyphicon glyphicon-th-list"></i> Users List </a> <br/> <br/>
<form>
<table class="table" >

    <tr> <td><input type="text"  [(ngModel)]="employee.name"  name="username" class="form-control" placeholder="Username"></tr>
    <div *ngIf="errors.name" style="color:red;"> {{errors.name}} </div>
    <tr>  <td><input type="text" class="form-control"  [(ngModel)]="employee.email"  name="email" placeholder="First Name"></tr>
    <div *ngIf="errors.email" style="color:red;"> {{errors.email}} </div>
    <tr> <td align="right" ></td> <td align="right"><button type="button" (click)="goToView(employee)" class="btn btn-primary" >Create </button>  </td> </tr>

</table>
</form>