
<div class="col-md-4 col-md-offset-4 ">


    <h1>Login</h1>
    <form >
    <table class="table" border="0">
     
        <tr>
            <td align="right">Username:</td>
            <td><input type="text"  [(ngModel)]="loginform.username"  name="username" class="form-control" placeholder="Username">
              <div  *ngIf="userService.errors.username" style="color:red;">{{userService.errors.username}}</div>
          </td>
        </tr>
        <tr>
            <td align="right">password:</td>
            <td><input type="text" class="form-control" [(ngModel)]="loginform.password"  name="password" placeholder="Last Name">
            <div  *ngIf="userService.errors.password" style="color:red;">{{userService.errors.password}}</div>
        </td>
          </tr>

            <tr>
                <td align="right"></td>
                <td align="right">
                    <button type="button" class="btn btn-primary" (click)="login(loginform);" >Login</button>
                </td>
            </tr>
      
    </table>
  </form>

</div>
