
    <h1>Users </h1>

    <a [routerLink]="['/users/create']" class="btn btn-primary btn_margin"> <i class="glyphicon glyphicon-plus"></i> Create New </a> <br/>
    <br/>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                    <th class="info"> Id <a class="_pointer"  (click)="_sortEmployeeslist('id')" name="Id" ><span class="caret"></span></a></th> 
                    <th class="info">Name <a class="_pointer"  name="name" (click)="_sortEmployeeslist('name')"><span class="caret"></span></a></th>
                    <th class="info">Email <a class="_pointer"  name="email" (click)="_sortEmployeeslist('email')"><span class="caret"></span></a></th>
                <th  colspan="3" rowspan="2">Actions</th>
            </tr>
            <tr>
                    <td> <input type="text" id="Id" name="Id" [(ngModel)]="employeesearch.id" (keyup)="_search(employeesearch)" class="form-control" placeholder="Id search"> </td>
                    <td> <input type="text" id="name" name="name" [(ngModel)]="employeesearch.name" (keyup)="_search(employeesearch)" class="form-control" placeholder="Name search"> </td>
                    <td> <input type="text" id="email" name="email" [(ngModel)]="employeesearch.email" (keyup)="_search(employeesearch)" class="form-control" placeholder="Email search"> </td>
            </tr>
            
             <tr *ngFor="let employee of employees"> 
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.email}}</td> 
                <td><a class="btn btn-primary" (click)="update(employee)"> <i class="glyphicon glyphicon-pencil"></i></a></td>
                <td><a class="btn btn-primary" (click)="view(employee)"> <i class="glyphicon glyphicon-eye-open"></i> </a></td>
                <td><a  class="btn btn-danger" (click)="delete(employee)"> <i class="glyphicon glyphicon-trash"></i> </a> </td>
            </tr>
           
        </table>
    </div>


<div class="text-center">

	<ul  class="pagination" >
         <li  *ngFor="let p of pages ;let i= index;"  [ngClass]="{'active': this.page==(i+1)}" >
           <a  class="btn" id={{i}} (click)="Click(i)">{{p}}</a> 
         </li>
    </ul> 
</div>


